<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Black+And+White+Picture" rel="stylesheet">
    <title>La caja oblonga</title>
</head>
<body>
    <div class="contenedor">
            <div class="dashboard">
                    <div class="cabecera">
                        <h1>Edgar Allan Poe</h1>
                    </div>
                    <div class="menu">
                        <ul>
                            <li><a href="../index.html">Inicio</a></li> <hr>
                            <li><a href="../views/eldemoniodelaperversidad.html">El demonio de la perversidad</a></li> <hr>
                            <li><a href="../views/elentierroprematuro.html">El entierro prematuro</a></li> <hr>
                            <li><a href="../views/hop-frog.html">Hop-Frog.</a></li> <hr>
                            <li><a href="../views/metzengerstein.html">Metzengerstein</a></li> <hr>
                            <li><a href="../views/lacajaoblonga.html">La caja oblonga</a></li>
                          </ul>
                    </div>
                </div>
        <div class="contenido-principal">
            <h1>La caja oblonga</h1>
            <p class="inicio">
                    La caja oblonga 
                    Hace años, a fin de viajar de Charleston, en la Carolina del Sur, a Nueva York, reservé 
                    pasaje  a  bordo  del  excelente  paquebote  
                    Independence, 
                    al  mando  del  capitán  Hardy.  Si  el  
                    tiempo lo permitía, zarparíamos el 15 de aquel mes (junio); el día anterior, o sea el 14, subí 
                    a bordo para disponer algunas cosas en mi camarote. 
                    Descubrí  así  que  tendríamos  a  bordo  gran  
                    número  de  pasajeros,  incluyendo  una  
                    cantidad de damas superior a la habitual. Noté 
                    que en la lista figuraban varios conocidos y, 
                    entre  otros  nombres,  me  alegré  de  encontrar  
                    el  de  Mr.  Cornelius  Wyatt,  joven  artista  que  
                    me  inspiraba  un  marcado  sentimiento  amisto
                    so.  Habíamos  sido  condiscípulos  en  la  
                    Universidad  de  C...  y  solíamos  andar  siempre  
                    juntos.  Su  temperamento  era  el  de  todo  
                    hombre de talento y consistía en una mezcla de
                     misantropía, sensibilidad y entusiasmo. A 
                    esas  características  unía  el  corazón  más  ardi
                    ente  y  sincero  que  jamá
                    s  haya  latido  en  un  
                    pecho humano. 
            </p>
            <p>
                    Observé  que  el  nombre  de  mi  amigo  aparecía  colocado  en  las  puertas  de  
                    tres 
                    camarotes, y luego de recorrer otra
                     vez la lista de pasajeros, vi
                     que había saca
                    do pasaje para 
                    sus  dos  hermanas,  su  esposa  y  él  mismo.  Los  
                    camarotes  eran  suficientemente  amplios  y  
                    tenían dos literas, una sobre la otra. Excesivamente estrechas, las literas no podían recibir a 
                    más  de  una  persona;  de  todos  modos  no  al
                    cancé  a  comprender  por  qué,  para  cuatro  
                    pasajeros, se habían reservado 
                    tres 
                    camarotes. En esa época me hallaba justamente en uno 
                    de   esos   estados   de   melancolía   espiritu
                    al   que   inducen   a   un   hombre   a   mostrarse   
                    anormalmente  inquisitivo  sobre  meras  nimi
                    edades;  confieso  aver
                    gonzado,  pues,  que  me  
                    entregué  a  una  serie  de  conjeturas  tan  enferm
                    izas  como  absurdas  sobre  aquel  camarote  de  
                    más.   No   era   asunto   de   mi   incumbencia,
                       claro   está,   pero   lo
                       mismo   me   dediqué   
                    pertinazmente  a  reflexionar  sobre  la  solución
                      del  enigma.  Por  fin  llegué  a  una  conclusión  
                    que  me  asombró  no  haber  columbrado  antes:  
                    «Se  trata  de  una  criada,  por  supuesto  —me  
                    dije—. ¡Se precisa ser tonto para 
                    no pensar antes en algo tan obvio!» 
                    Miré  nuevamente  la  lista  de  pasajeros,  
                    descubriendo  entonces  que  ninguna  criada  
                    habría  de  embarcarse  con  la  familia,  aunque  
                    por  lo  visto  tal  había  sido  en  principio  la  
                    intención, ya que luego de escribir: «y criada», 
                    habían tachado las palabras. «Pues entonces 
                    se  trata  de  un  exceso  de  equipaje  —me  dije
                    —,  algo  que  Wyatt  no  quiere  hacer  bajar  a  la  
                    cala  y  prefiere  tener  a  mano...  ¡A
                    h, ya veo: un cuadro! Por eso es que ha andado tratando 
                    con Nicolino, el judío italiano.» 
        </p>
        <p>
                    La suposición me satisfizo y por el 
                    momento dejé de lado mi curiosidad. 
                    Conocía muy bien a las dos hermanas de Wya
                    tt, jóvenes tan amable
                    s como inteligentes. 
                    En  cuanto  a  su  esposa,  como  aquél  llevaba  poco  tiempo  de  casado,  aún  no  había  podido  
                    verla.  Wyatt  había  hablado  muchas  veces  de  ella
                      en  mi  presencia,  con  su  estilo  habitual  
                    lleno   de   entusiasmo.   La   describía   como   de
                       espléndida   belleza,   llena   de   ingenio   y   
                    cualidades. De ahí que me sin
                    tiera muy ansioso por conocerla. 
                    El  día  en  que  visité  el  barc
                    o  (el  14),  el  capitán  me  in
                    formó  que  también  Wyatt  y  los  
                    suyos acudirían a bordo, por lo cual me quedé
                     una hora con la esperanza de ser presentado 
                    a la joven esposa. Pero al fin se me inform
                    ó que «la señora Wyatt se hallaba indispuesta y 
                    que no acudiría a bordo hasta el dí
                    a siguiente, a la 
                    hora de zarpar». 
        </p>
       <p>
                    Llegó  el  momento,  y  me  encaminaba  de  mi  
                    hotel  al  embarcadero  cuando  encontré  al  
                    capitán  Hardy,  quien  me  dijo  que,  «debido  a  las  
                    circunstancias»  (frase  tan  estúpida  como  
                    conveniente),  el  
                    Independence 
                    no  se  haría  a  la  mar  hasta  uno  o  dos  días  después,  y  que,  
                    cuando todo estuviera listo, me mandar
                    ía avisar para que me embarcara. 
                    Encontré esto bastante extraño, ya que sopl
                    aba una sostenida brisa del Sur, pero como 
                    «las circunstancias» no salían a luz, pese a que 
                    indagué todo lo posible al respecto, no tuve 
                    más remedio que volverme al hotel y devorar a solas mi impaciencia. 
                    Pasó casi una semana sin que llegara el espe
                    rado aviso del capitán. Lo recibí por fin y 
                    me  embarqué  de  inmediato.  El  barco  estaba  
                    atestado  de  pasajeros  
                    y  había  la  confusión  
                    habitual en el momento de izar velas. El
                     grupo de Wyatt llegó unos diez minutos después 
                    que  yo.  Estaban  allí  las  dos  hermanas,  la  espo
                    sa  y  el  artista  —este  último  en  uno  de  sus  
                    habituales  accesos  de  melancólica  misantropía—.  Demasiado  conocía  su  humor,  sin  
                    embargo,  para  prestarle  especial  atención.  Ni
                      siquiera  se  molestó  en  presentarme  a  su  
                    esposa,  quedando  este  deber  de  cortesía  a  cargo
                      de  su  hermana  Marian,  tan  amable  como  
                    inteligente, quien con breves y presurosas 
                    palabras nos presentó el uno a la otra. 
                    La señora Wyatt se cubría con un espeso velo
                     y, cuando lo levantó 
                    para contestar a mi 
                    saludo,  debo  reconocer  que  me  quedé  prof
                    undamente  asombrado.  Pero  mucho  más  me  
                    hubiera  asombrado  de  no  tener  ya  el  hábito  
                    de  aceptar  a  beneficio  de  inventario  las  
                    entusiastas  descripciones  de  mi  amigo,  toda
                      vez  que  se  explayab
                    a  sobre  la  hermosura  
                    femenina.  Cuando  la  belleza  constituía  su  tema,  sabía  de  sobra  con  qué  facilidad  se  
                    remontaba a las regiones del puro ideal. 
       </p>
       <p>
                    La  verdad  es  que  no  pude  dejar  de  adve
                    rtir  que  la  señora  Wyatt  era  una  mujer  
                    decididamente vulgar. Si no fea del todo, me temo que no le andaba muy lejos. Vestía, sin 
                    embargo,  con  exquisito  gusto,  y  no  dudé  de  que
                      había  cautivado  el  corazón  de  mi  amigo  
                    con las gracias más perdurables del intelect
                    o y del alma. Pronunció muy pocas palabras, e 
                    inmediatamente entró en el camarote en compañía de su esposo. 
                    Mi anterior curiosidad volvió a dominarme. No 
                    había 
                    ninguna criada, y de eso no cabía 
                    duda.  Me  puse  a  observar  en  busca  del  equipaje
                      extra.  Luego  de  algu
                    na  demora,  llegó  al  
                    embarcadero  un  carro  conteniendo
                      una  caja  oblonga  de  pino,  
                    que  al  parecer  era  lo  único  
                    que  se  esperaba.  Apenas  a  bordo  la  caja,  
                    levamos  ancla,  y  poco  después  de  cruzar  
                    felizmente la barra enfrentamos el mar abierto. 
                    He dicho que la caja en cuestión era oblonga. 
                    Tendría unos seis pies de largo por dos y 
                    medio  de  ancho.  La  observé  atentamente,  y  ad
                    emás  me  gusta  ser  preciso.  Ahora  bien,  su  
                    forma era
                     peculiar 
                    y,
                    tan pronto la hube contemplado en de
                    talle, me felicité por lo acertado 
                    de mis conjeturas. Se recordará que, de acuerdo c
                    on éstas, el equipaje extra de mi amigo el 
                    artista  debía  consistir  en  cuad
                    ros,  o  por  lo  menos  en  un  cuad
                    ro.  No  ignoraba  que  durante  
                    varias semanas, Wyatt había mantenido c
                    onversaciones con Nicolino, y ahora veía a bordo 
                    una caja que, a juzgar por su forma, sólo
                     podía servir para guardar una copia de 
                    La última 
                    cena 
                    de  Leonardo;  no  ignoraba,  además,  que  una
                      copia  de  esa  pint
                    ura,  ejecutada  en  
                    Florencia  por  Rubini  el  joven,  había  estado  
                    cierto  tiempo  en  posesión  de  Nicolino.  Me  
                    pareció,  pues,  que  la  cuestión  quedaba  sufici
                    entemente  resuelta.  Me  reí,  quizá  demasiado,  
                    pensando en mi perspicacia. Era la primera 
                    vez que, hasta donde podía saberlo, Wyatt me 
                    ocultaba alguno de sus secretos artísticos; pero
                     no cabía duda de que en
                     esta ocasión trataba 
                    de  hacerme  una  treta  y  pasar  de  contraba
                    ndo  a  Nueva  York  una  magnífica  pintura,  
                    confiando  en  que  no  me  daría  cuenta  de  na
                    da.  Resolví  tomarme  un  buen  desquite,  sin  
                    esperar mucho
        </p>
        <p>
                    Había  no  obstante  algo  que
                    me  fastidiaba.  La  caja  
                  no  fue  
                  colocada  en  el  camarote  
                  sobrante,  sino  depositada  en  el  de  Wyatt,  dond
                  e  ocupaba  casi  por  comp
                  leto  el  piso  para  
                  evidente  incomodidad  del  artista  y  de  su  esposa,  acrecentada
                    además  porque  la  brea  o  la  
                  pintura con la cual se habían trazado grandes letras emitía un olor muy fuerte, desagradable 
                  y,  para  
                  mí, 
                  especialmente  repugnante.  Sobre  la  ta
                  pa  aparecían  estas  palabras:  «Sra.  
                  Adelaide  Curtis,  Albany,  Nueva  York.  Envío  
                  de  Cornelius  Wyatt,  Esq.  Este  lado  hacia  
                  arriba. Trátese con cuidado.»  
        </p>
        <p>
                    Estaba  yo  enterado  de  que  
                    la  señora  Adelaide  Curtis,  
                    de  Albany,  era  la  suegra  del  
                    artista,  pero  consideré  que  éste  había  hecho  
                    estampar  su  nombre  a  fin  de  mistificarme  
                    mejor. Me sentía seguro de que la caja y su
                     contenido no seguirían 
                    viaje a Albany, sino que 
                    quedarían en el estudio de mi misantrópico amigo, en Chambers Street, Nueva York. 
                    Durante los primeros tres o cuatro días t
                    uvimos un tiempo excelente a pesar del viento 
                    de  proa  —pues  había  virado  al  Norte  apenas
                      hubimos  perdido  de  vista  la  costa—.  Por  
                    consiguiente,  los  pasajeros  estaban  de  muy  
                    buen  humor  y  dispuestos  a  la  sociabilidad.  
                    Tengo que exceptuar, sin embargo, a Wyatt y a sus hermanas, que se mostraban reservados 
                    y fríos, en forma que no pude menos de consider
                    ar descortés hacia el resto del pasaje. De la 
                    conducta   de   Wyatt   no   me   preocupaba   muc
                    ho.   Estaba   melancólico   más   allá   de   lo   
                    acostumbrado en él; inclus
                    o diré que se mostraba 
                    lúgubre, 
                    pero no podía extrañarme dadas 
                    sus  excentricidades.  En  cambio  me  resultaba  imposible  excusar  a  sus  hermanas.  Se  
                    encerraban  en  su  camarote  la  mayor  parte  del  
                    día,  negándose  terminantemente,  a  pesar  de  
                    mi insistencia, a alternar con nadie a bordo. 
                    La señora Wyatt era, en cambio, mucho 
                    más agradable. Va
                    le decir que era 
                    parlanchina, 
                    y  esto  tiene  mucha  importancia  en  un  viaje  por  mar.  Pronto  se  mostró  
                    excesivamente 
                    familiar  con  la  mayoría  de  las  señoras  y,  pa
                    ra  mi  profunda  estupefacción,  mostró  una  
                    tendencia poco disimulada a coquetear con los hombres. A todos nos divertía muchísimo. 
                    Digo  «divertía»,  pero  apenas  si  sé  cómo  
                    explicarme.  La  verdad  es  que  muy  pronto  
                    advertí  que  la  gente  se  reía  más  
                    de 
                    ella  que  
                    por 
                    ella.  Los  caballeros  reservaban  sus  
                    opiniones, pero las damas no tardaron en declar
                    arla «una excelente mujer, nada bonita, sin 
                    la  menor  educación  y  decididamente  vulgar».  
                    Lo  que  asombraba  a  todos  era  cómo  Wyatt  
                    había podido caer en la trampa de semejante ma
                    trimonio. Se pensaba, claro está, en razones 
                    de fortuna, pero yo sabía que la solución no re
                    sidía en eso, pues Wyatt me había informado 
                    de que su esposa no aportaba un solo centavo al
                     matrimonio, ni tenía la menor esperanza de 
                    heredar. Se había casado con ella —según me
                     dijo— por amor y solamente por amor, pues 
                    su esposa era más que merecedora de cariño. 
                    Pensando  en  estas  frases  de  mi  amigo  me  sentí  perplejo  más  allá  de  toda  descripción.  
                    ¿Podía ser que estuviera perdiendo la r
                    azón? ¿Qué otra cosa podía pensar? 
                    Él, 
                    tan refinado, 
                    tan  intelectual,  tan  exquisito,  con  una  percep
                    ción  finísima  de  todo  
                    lo  imperfecto,  con  tan  
                    aguda apreciación de la belleza. A decir verd
                    ad, la dama parecía muy enamorada de él —
                    especialmente en su ausencia—, y se ponía en ri
                    dículo al citar repeti
                    damente lo que había 
                    dicho  «su  adorado  esposo,  el  señor  Wyatt».  La  palabra  «esposo»  parecía  siempre  —para  
                    usar una de sus delicadas expresiones— «en la
                     punta de su lengua». Pero entretanto todos 
                    advirtieron que él la evitaba de la manera más 
                    evidente y que prefería encerrarse solo en su 
                    camarote, donde bien podía deci
                    rse que vivía, dejando 
                    plena libertad a su
                     esposa para que 
                    se divirtiera a gusto en
                     las reuniones del salón. 
        </p>
        <p>
                    De lo que había visto y oído extraje la conc
                    lusión de que el artista, movido por algún 
                    inexplicable capricho del destino, o presa quizá
                     de un acceso de pasión tan entusiasta como 
                    fantástico, se había unido a una persona por completo inferior a él, y que no había tardado 
                    en  sucumbir  a  la  consecuencia  natural,  o  s
                    ea  a  la  más  viva  repugnancia.  Me  apiadé  de  él  
                    desde lo más profundo de mi corazón, pero no por
                     ello pude perdonarle el secreto que había 
                    mantenido  sobre  el  embarque  de  
                    La  última  cena.  
                    Continué,  pues,  resuelto  a  saborear  mi  
                    venganza. 
                    Un  día  subió  Wyatt  al  puente  y,  luego  de  
                    tomarlo  del  brazo  como  era  mi  antigua  
                    costumbre,  echamos  a  andar  de  un  lado  a  ot
                    ro.  Su  melancolía  (que  yo  encontraba  muy  
                    natural dadas las circunstancias) continuaba
                     invariable. Habló poco, con tono malhumorado 
                    y  haciendo  un  gran  esfuerzo.  Aventuré  una  broma  y  vi  que  luchaba  penosamente  por  
                    sonreír. ¡Pobre diablo! Pensando en 
                    su esposa, 
                    me maravillaba que fuera incluso capaz de 
                    aparentar  alegría.  Pero,  finalmente,  me  de
                    terminé  a  sondearlo  a  fondo,  comenzando  una  
                    serie  de  veladas  insinuaciones  
                    sobre  la  caja  oblonga,  a  fin  
                    de  que,  poco  a  poco,  se  diera  
                    cuenta de que yo no era para nada víctima de 
                    su pequeña mistificación. Con tal propósito, y 
                    a  fin  de  descubrir  mis  baterías,  dije  algo  so
                    bre  la  «curiosa  forma  de  esa  caja»;  y  al  
                    pronunciar  estas  palabras  le  hice  una  sonrisa  
                    de  inteligencia,  le  guiñé  un  ojo,  todo  esto  
                    mientras le daba suavemente con el dedo en las costillas. 
                    La manera con que Wyatt recibió tan inocente
                     broma me convenció al punto de que se 
                    había  vuelto  loco.  Primeramente  me  miró  como  si  le  resultara  imposible  comprender  el  
                    ingenio  de  mi  observación;  pe
                    ro,  a  medida  que  mis  palabras  iban  abriéndose  lentamente  
                    paso  en  su  cerebro,  lo
                    s  ojos  parecieron  querer  salírsele  de
                      las  órbitas.  Su  rostro  se  puso  
                    escarlata, luego palideció espantosamente y, como
                     si lo que yo había in
                    sinuado le divirtiera 
                    muchísimo, estalló en carcajadas que, para 
                    mi estupefacción, se prolongaron cada vez con 
                    más  fuerza  durante  largos  minutos.  Finalmente  se  desplomó  pesadamente  sobre  cubierta;  
                    mientras me esforzaba por levantarle, t
                    uve la impresión de que había muerto. 
                    Pedí auxilio y, con mucho trabajo, le hici
                    mos volver en sí. Apenas reaccionó se puso a 
                    hablar  incoherentemente,  hasta  que  le  sangr
                    amos  y  le  metimos  en  cama.  A  la  mañana  
                    siguiente se había recobrado del 
                    todo, por lo menos en lo que se refiere a la salud física. De 
                    su  mente  prefiero  no  decir  na
                    da.  Evité  encontrarme  con  él  
                    durante  el  resto  del  viaje,  
                    siguiendo el consejo del capitán, quien parecía 
                    coincidir plenamente conmigo en que Wyatt 
                    estaba loco, pero me pidió que no dije
                    se nada a los restantes pasajeros. 
        </p>
        <p>
                    Inmediatamente después de la 
                    crisis de mi amigo ocurrieron
                     varias cosas 
                    que exaltaron 
                    todavía  más  la  curiosidad  que  me  poseía.  Entr
                    e  otras,  señalaré  la  siguiente:  Me  sentía  
                    nervioso por haber bebido demasiado té verde,
                     y dormía mal, tanto que durante dos noches 
                    no pude pegar los ojos. Mi camar
                    ote daba al salón principal,
                     o salón comedor, como todos 
                    los camarotes ocupados por hombres solos. Las tres cabinas de Wyatt comunicaban con el 
                    salón posterior, el cual estaba separado del principal por una liviana puerta corrediza que no 
                    se cerraba nunca, ni siquiera de noche. Como 
                    seguíamos navegando con viento en contra, el 
                    barco escoraba acentuadamente a sotavento y, cada
                     vez que el lado de estribor se inclinaba 
                    en  ese  sentido,  la  puerta  divisoria  se  corría  y  quedaba  en  esa  posición,  sin  que  nadie  se  
                    molestara en levantarse y ce
                    rrarla. Mi camarote hallábase 
                    en  una  posición  tal  que,  cuando  
                    tenía  abierta  la  puerta  (lo  que  ocurría  siempr
                    e,  a  causa  del  calor),  podía  ver  con  toda  
                    claridad el salón posterior, e incluso esa part
                    e adonde daban los camarotes de Wyatt. Pues 
                    bien,  durante  dos  noches  
                    (no 
                    consecutivas),  en  que  me  hallaba  despierto,  vi  que,  a  eso  de  
                    las  once,  la  señora  Wyatt  salía  cautelosamente  
                    del  camarote  de  su  esposo  y  entraba  en  el  
                    camarote sobrante, donde permanecía hasta la madrugada, hora en que Wyatt iba a buscarla 
                    y la hacía entrar nuevamente en su cabina. Re
                    sultaba claro, pues, que
                     el matrimonio estaba 
                    separado. Ocupaban habitaciones ap
                    arte, sin duda a la espera 
                    de un divorcio más absoluto; 
                    y pensé que en eso residía, después de t
                    odo, el misterio del camarote suplementario. 
                    Mucho me interesó, además, otra circunstanc
                    ia. Durante las dos noches de insomnio a 
                    que  he  aludido,  e  inmediatamente  después  que
                      la  señora  Wyatt  hubo  en
                    trado  en  el  tercer  
                    camarote, atrajeron mi atención 
                    ciertos singulares sonidos ahogados que brotaban del de su 
                    esposo.  Tras  de  escuchar  un  tiempo,  logré  e
                    xplicarme  perfectamente  su  significado.  
                    Aquellos  ruidos  los  producía  el  artista  al  ab
                    rir  la  caja  oblonga  mediante  un  escoplo  y  una  
                    maza,  esta  última  envuelta  en  alguna  materia  algodonosa  o  de  lana  que  amortiguaba  los  
                    golpes. 
                    
        </p>
        <p>
                    A fuerza de escuchar me pareció que podía di
                    stinguir el preciso momento en que Wyatt 
                    levantaba la tapa, y también cuando la retiraba a 
                    fin de depositarla en la 
                    litera superior de su 
                    cabina.  Me  di  cuenta  de  esto  último  a  causa  de  los  golpecitos  que  daba  la  tapa  contra  los  
                    tabiques  de  madera  del  camarote,  mientras  
                    que  Wyatt  trataba  de  depositarla  con  toda  
                    suavidad en la litera, por no haber espacio 
                    en el suelo. A eso se
                    guía un profundo silencio, 
                    sin que volviera a escuchar nada hasta el aman
                    ecer, como no fuera, si cabe mencionarlo, un 
                    leve sonido semejante a sollozos o suspiros, ta
                    n sofocados que resulta
                    ban casi inaudibles —
                    a  menos  que  se  tratara  de  un  producto  de  
                    mi  imaginación—.  He  dicho  que  aquello  hacía  
                    pensar  en  sollozos  o  suspiros,  pero  muy  bien  
                    podía  tratarse  de  otra  cosa;  más  bien  cabía  
                    pensar en una ilusión auditiva. Sin duda, de acuerdo con sus hábitos, Wyatt se entregaba a 
                    uno  de  sus  caprichos,  dejándose  llevar  por  un  arre
                    bato  de  entusiasmo  artístico,  y  abría  la  
                    caja oblonga a fin de regalar sus ojos con el 
                    tesoro pictórico que encerraba. Por supuesto, 
                    nada había en esto que justificara un rumor de 
                    sollozos; 
                    repito, pues, que debía tratarse de 
                    una  alucinación  de  mi  mente,  
                    excitada por el té verde del 
                    excelente capitán Hardy. En las 
                    dos noches de que he hablado, poco antes del al
                    ba oí cómo Wyatt volvía a colocar la tapa 
                    sobre  la  caja  oblonga,  introduciendo  los  clavos
                      en  sus  agujeros  por  medio  de  la  maza  
                    envuelta en trapos. Hecho esto salía de su 
                    camarote completamente vestido e iba en busca 
                    de la señora Wyatt, que se 
                    hallaba en la otra cabina. 
                    Llevábamos  siete  días  en  el  mar  y  habíam
                    os  pasado  ya  el  cabo  Hatteras,  cuando  nos  
                    asaltó un fortísimo viento del sudoeste. Como el tiempo se había mostrado amenazante, no 
                    nos  tomó  desprevenidos.  Todo  a  bordo  estaba  bi
                    en  aparejado  y,  cuando  el  viento  se  hizo  
                    más intenso, nos dejamos llevar con dos rizo
                    s de la mesana cangreja y el trinquete. 
                    Con este velamen navegamos sin mayor peli
                    gro durante cuarenta y ocho horas, ya que 
                    el barco resultó ser muy marino y no hacía agua. 
                    Pero, al cumplirse este tiempo, el viento se 
                    transformó en huracán y la mesana cangreja se 
                    hizo pedazos, con lo cual quedamos de tal 
                    modo  a  merced  de  los  elementos  que  de  inmedi
                    ato  nos  barrieron  varias  olas  enormes,  en  
                    rápida sucesión. Este accidente nos hizo perder
                     tres hombres, aparte de quedar destrozadas 
                    las  amuradas  de  babor  y  la  cocina.  Apenas  
                    habíamos  recobrado  algo  de  calma  cuando  el  
                    trinquete  voló  en  jirones,  lo  que  nos  obligó  a  
                    izar  una  vela  de  estay,  pudiendo  así  resistir  
                    algunas horas, pues el barco capeaba el tem
                    poral con mayor estabilidad que antes. 
                    Pero el huracán mantenía toda su fuerza, si
                    n dar señales de amainar. Pronto se vio que 
                    la  enjarciadura  estaba  en  mal  estado,  soportand
                    o  una  excesiva  tensión;  
                    al  tercer  día  de  la  
                    tempestad,  a  las  cinco  de  la  tarde,  un  terr
                    ible  bandazo  a  barlove
                    nto  mandó  por  la  borda  
                    nuestro  palo  de  mesana.  Durante  más  de  una  
                    hora  luchamos  por  terminar  de  desprenderlo  
                    del  buque,  a  causa  del  terrible  rolido;  antes  de  
                    lograrlo,  el  carpintero
                      subió  a  anunciarnos  
                    que  había  cuatro  pies  de  agua
                      en  la  sentina.  Para  colmo  de  males  descubrimos  que  las  
                    bombas estaban atascadas y que apenas servían. 
                    Todo  era  ahora  confusión  y  angustia,  pero  
                    continuamos  luchando  para  aligerar  el  
                    buque, tirando por la borda la mayor parte del 
                    cargamento y cortando los dos mástiles que 
                    quedaban. Todo esto se llevó a cabo, pero las bombas seguían inutilizables y la vía de agua 
                    continuaba inundando la cala. 
        </p>
        <p>
                    A  la  puesta  del  sol  el  huracán  había  amai
                    nado  sensiblemente  y,  como  el  mar  se  
                    calmara, abrigábamos todavía esperanzas de sa
                    lvarnos en los botes. A las ocho de la noche 
                    las nubes se abrieron a barlovento y tuvimos la 
                    ventaja de que nos iluminara la luna llena, 
                    lo cual devolvió el ánimo a nuestros abatidos espíritus. 
        </p>
        <p>
                    Después de una increíble labor pudimos por fi
                    n botar al agua la chalupa y embarcamos 
                    en ella a la totalidad de la tripulación y a la 
                    mayor parte de los pasaje
                    ros. Alejóse la chalupa 
                    y, al cabo de muchísimos sufrimientos, llegó fina
                    lmente sana y salva a Ocracoke Inlet, tres 
                    días después del naufragio. 
                    Catorce  pasajeros  quedamos  a  bordo  con  el  cap
                    itán,  resueltos  a  intent
                    ar  fortuna  en  el  
                    botequín de popa. Lo botamos sin dificultad, aunque sólo por milagro no se volcó al tocar 
                    el agua, y embarcaron en él el capitán y su es
                    posa, Wyatt y su familia, un oficial mexicano 
                    con su esposa y sus cuatro hijos, y yo con mi criado de color. 
                    Como  es  natural,  no  había  allí  espacio  para
                      otra  cosa  que  unos  pocos  instrumentos  
                    imprescindibles,  provisiones  y  las  ropas  qu
                    e  llevábamos  puestas.  
                    Nadie  había  pensado  
                    siquiera  en  salvar  otros  bienes.  ¡Cuál  no  
                    sería  nuestra  estupefacción  cuando,  apenas  
                    alejados  del  barco,  vimos  a  Wyatt  que  se  poní
                    a  de  pie  en  la  popa  del  bote  y,  fríamente,  
                    pedía  al  capitán  Hardy  que  nos
                      acercáramos  otra  vez  al  ba
                    rco  para  embarcar  su  caja  
                    oblonga! 
                    —Siéntese usted, señor Wyatt —replicó el cap
                    itán con alguna severidad—. Terminará 
                    por hacer zozobrar el bote si no se está quiet
                    o. ¿No ve que la borda está al ras del agua? 
                    —¡La  caja!  —vociferó  Wyatt,  siempre  de  pi
                    e—.  ¡La  caja,  le  digo!  Capitán  Hardy,  no  
                    puede  usted  rehusarme  lo  que  le  pido...  ¡No,  
                    no  puede!  ¡No  pesa  casi  nada....  apenas  una  
                    nada!  ¡Por  la  madre  que  le  dio  a  luz,  por  el
                      amor  del  cielo,  por  lo  que  más  quiera...  le  
                    imploro que volvamos a buscar la caja! 
                    Durante  un  momento  el  capitán  pareció  conmov
                    ido  por  las  súplicas,  pero  no  tardó  en  
                    recobrar su aire 
                    adusto y replicó: 
                    —Señor Wyatt, usted está 
                    loco, 
                    y no lo escucharé. ¡Siéntese 
                    le digo, o hará zozobrar el 
                    bote! ¡Vosotros, sujetadlo... pronto... o salt
                    ará al agua...! ¡Ah... demasiado tarde! 
                    En  efecto,  al  decir  el  capitán  
                    estas  palabras,  Wyatt  se  habí
                    a  arrojado  al  agua  y,  como  
                    todavía  estábamos  al  socaire  del  buque,  logró,  
                    tras  un  sobrehumano  esfuerzo,  sujetarse  de  
                    una   cuerda   que   colgaba   a   proa.   Un   instante   después   trepaba   a   cubierta   y   corría   
                    frenéticamente hacia la escot
                    illa que llevaba a los camarotes. 
                    Entretanto  habíamos  sido  llevados  hacia  la  popa  del  barco  y,  sin  la  protección  de  su  
                    casco,   quedamos   inmediatamente   a   merced   de
                    l   terrible   oleaje.   Nos   esforzamos   por   
                    acercarnos  otra  vez,  pero  nuestro  pequeño  bot
                    e  era  como  una  pluma  en  el  soplo  de  la  
                    tempestad.  Nos  bastó  una  ojeada  para  comprende
                    r  que  el  destino  del  infortunado  artista  
                    estaba sellado. 
                    A medida que aumentaba nuestra distancia de
                    l buque casi sumergido, vimos que el loco 
                    (ya que sólo podíamos considerar
                    lo como tal) aparecía otra 
                    vez en cubierta y, con fuerzas 
                    que   parecían   las   de   un   gigante,   arrastra
                    ba   consigo   la   caja   ob
                    longa.   Mientras   lo   
                    contemplábamos  en  el  colmo  de  la  estupe
                    facción,  vimos  que  arrollaba  rápidamente  una  
                    cuerda  a  la  caja  y  la  pasaba  luego  varias  ve
                    ces  por  su  cuerpo.  Un  instante  después  ambos  
                    caían al mar, desapareciendo instantáneamente y para siempre. 
                    Por un momento detuvimos el movimiento de lo
                    s remos, clavados los ojos en el lugar 
                    del drama. Por fin reanudamos nuestros esfuerzo
                    s, y pasó una hora sin que nadie dijera una 
                    palabra. Yo me atreví, por fin, a insinuar una observación. 
        </p>
         <p>
                    —¿Reparó usted, capitán, en cómo se hundieron de golpe? ¿No es sumamente curioso? 
                    Confieso  que,  por  un  momento,  tuve  una  débil  es
                    peranza  de  que  Wyatt  se  salvaría,  al  ver  
                    que se ataba a la caja y se confiaba así al mar. 
                    —Por  supuesto  que  se  hundier
                    on,  y  con  la  rapidez  de  una  bala  de  plomo  —repuso  el  
                    capitán—.  Sin  embargo  volverán  a  
                    subir  a  la  superficie...  pero  
                    no  antes  de  que  la  sal  se  
                    disuelva.
                    —¡La sal! —exclamé. 
                    —¡Sh...!  —dijo  el  capitán,  señalándome  a  
                    la  esposa  y  hermanas  del  muerto—.  Ya  
                    hablaremos de esas cosas 
                    en un momento más oportuno. 
                    Mucho  sufrimos,  y  escapamos  por  muy  poco  de  la  muerte,  pero  la  fortuna  nos  
                    favoreció al igual que a nuestro
                    s camaradas de la chalupa. Má
                    s muertos que vivos, después 
                    de  cuatro  días  de  horrible  angustia,  tocamos
                      tierra  en  la  playa  opuesta  a  Roanoke  Island.  
                    Permanecimos  allí  una  semana,  pues  los  raqu
                    eros  no  nos  trataron  mal,  y  finalmente  
                    hallamos la manera de llegar a Nueva York. 
                    Un   mes   después   de   la   pérdida   del   
                    Independence, 
                    me   encontré   casualmente   en   
                    Broadway  con  el  capitán  Hardy.  Como  es  na
                    tural,  nuestra  conversación  versó  sobre  el  
                    naufragio y, en especial, sobre el triste dest
                    ino del pobre Wyatt. En esa ocasión me enteré 
                    de los detalles siguientes: 
                    El  artista  había  tomado  pasaje  para  él,  su  
                    esposa,  sus  dos  hermanas  y  una  criada.  Tal  
                    como él la había descrito, su esposa era la más encantadora y cultivada de las mujeres. En 
                    la  mañana  del  14  de  junio  (día  en  que  visité
                      por  primera  vez  el  barco),  la  señora  Wyatt  
                    enfermó  repentinamente  y  murió.  El  joven  espo
                    so  estaba  enloquecido
                      de  dolor,  pero  las  
                    circunstancias  le  impedían  aplazar  su  viaje  a  Nueva  York.  Era  necesario  que  llevara  a  su  
                    madre el cuerpo de la esposa adorada, aunque, 
                    por otra parte, no ignoraba que un prejuicio 
                    universal  le  impediría  hacerlo  abiertamen
                    te.  De  cada  diez  pasajeros,  nueve  habrían  
                    abandonado el barco antes de hacerse a 
                    la mar en compañía de un cadáver.  
        </p>
        <p>
                    En este dilema, el capitán Hardy consintió en que el cuerpo, parcialmente embalsamado 
                    y colocado entre espesas capas de sal en una 
                    caja de dimensiones adecuadas, fuera subido a 
                    bordo como si se tratara de una 
                    mercancía. Nada se diría sobre el fallecimiento de la dama; 
                    mas,  como  ya  era  sabido  que  Wyatt  había  toma
                    do  pasaje  para  él  y  su
                      esposa,  fue  preciso  
                    encontrar a alguien que desempeñara el papel de esta última durante el viaje. La doncella de 
                    la  difunta  aceptó  ese  papel  vol
                    untariamente.  El  camarote  sobrante,  que  en  principio  había  
                    sido  tomado  para  la  criada,  fue,  naturalm
                    ente,  conservado.  Allí  dormía  aquélla,  como  se  
                    supondrá, todas las noches. De día representaba, en la medida de sus posibilidades, el papel 
                    de ama —cuya persona era totalmente desconoci
                    da para los pasajero
                    s de a bordo, como se 
                    tuvo buen cuidado de verificar previamente. 
                    En cuanto a mi engaño, nació de un temper
                    amento demasiado negligente, inquisidor e 
                    impulsivo. Pero, desde entonces, es muy raro qu
                    e duerma bien de noche. De cualquier lado 
                    que  me  vuelva,  hay  siempre  un  rostro  que  me  
                    hostiga.  Y  una  risa  histérica  resonará  para  
                    siempre en mis oídos. 
        </p>

            <hr>
            <div class="glosario">
                <h2>Glosario</h2>
                <ul>
                        <li>1.-Oblongo:que es mas largo que ancho </li>
                        <li> 2.-Misantropía:Es una actitud social y psicológica caracterizada por la aversión general al género humano.</li>
                        <li>3.-Melancolía:Se trata de la tristeza vaga, permanente y profunda, que puede haber nacido por causa física o moral y que hace que el sujeto que la padece no se encuentre a gusto ni disfrute de la vida.</li>
                        <li>4.-Nimiedades:Cosa de muy poca importancia o de muy poco valor discute por nimiedades</li>
                        <li>5.-Mistificación:Acción y resultado de alterar o deformar el verdadero carácter de una cosa.</li>
                        <li>6.-Tragaluz: ventana situada sobre el travesaño de una puerta, generalmente de la misma anchura que esta.</li>
                        <li>7.- Atestado:Que está completamente lleno </li>
                        <li>8.-Pertinazmente:Con obstinación y terquedad en mantener una opinión, una doctrina, o una resolución que se ha tomado. </li>
                        <li>9.-Nimiedades:Cosa de muy poca importancia o de muy poco valor discute por nimiedades</li>
                        <li>10.-Camarote;Habitación de una embarcación destinada a dormir.</li>
                        <li>11.-Trastrabillar: trabarse la lengua al hablar. </li>
                        <li>12.-ïgnea: que es de fuego o tiene alguna de sus características, como el color.</li>
                        <li>13.-Alarido: grito fuerte que expresa generalmente dolor o miedo.</li>
                        <li>14.-Fétida: que desprende un olor malo, desagradable e intenso.</li>
                        <li>15.-Sotavento:Costado de una embarcación opuesto a la parte de donde viene el viento (barlovento).</li>
                        <li>16.-ímpetu:fuerza o violencia con que algo o alguien se mueve.</li>
                        <li>17.-Estrépito: fazer estrépito, barulho; soar, vibrar fazendo estrondo.</li>
                        <li>18.-Desgarbada: que no tiene garbo, gracia o elegancia, especialmente en la manera de obrar o de moverse. </li>
                        <li>19.-Cangreja:Vela de cuchillo de forma trapezoidal que va sujeta a la verga por dos relingas o cabos.</li>
                        <li>20.-Pictórico:Que es adecuado para ser representado en pintura.</li>
                  
            </div>
            <hr>
            <div>
                <h2>Opinion personal...</h2>
                <p>
                        Es uno de los mejores cuentos de Poe narra, una historia del extraño viaje del 
                        Independence, a bordo del cual uno de los pasajeros viaja en su camarote 
                        con una misteriosa caja de la cual se rehúsa a separarse, incluso cuando la 
                        embarcación naufraga.
                        Tras algunos incidentes e investigaciones posteriores, se nos permite descubrir 
                        qué hay en el interior de la misteriosa caja oblonga.
                        Podria poner a La caja oblonga entre los relatos de detectives de Edgar Allan Poe, 
                        aunque por sus características y argumento sería más justo colocarlo entre sus 
                        mejores relatos náuticos y sin duda un cuento cien porciento recomendable... aunque 
                        un tanto complejo para mi.
                </p>
                
            </div>
            <hr>

            <div id="disqus_thread"></div>
                <script>
                
                /**
                *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                /*
                var disqus_config = function () {
                this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };
                */
                (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://https-vasquezhernandezarnold-github-io.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
                })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                    
        </div>
    </div>             
</body>
</html>